* {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .tel {
        margin-right: 2em;
    }
    main{
        padding: 0 10px;
        box-sizing: border-box;
    }
}

.container {
    width: 1200px;
    margin: 0 auto;
    /* border: 1px #ddd solid; */
    padding: 0 2px;
    border-top: none;
    border-bottom: none;
}

.container>* {
    margin-bottom: 5px;
}

#carousel {
    height: 260px;
}

main>.title {
    color: #505050b0;
    font-size: 25px;
    line-height: 200%;
    /* text-indent: 1.2em; */
    margin-top: 1em;
    border-bottom: 2px #999999 solid;
}