
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.container {
    width: 1200px;
    margin: 0 auto;
    /* border: 1px #ddd solid; */
    padding: 0 2px;
    border-top: none;
    border-bottom: none;
}

.container>* {
    margin-bottom: 5px;
}
