main {
  width: 100%;
}
main .content {
  padding: 15px 0;
}
main .content li {
  padding: 15px 0;
}
main .content li .title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main .content li .title img {
  width: 40px;
  height: 40px;
}
main .content li .title b {
  color: #505050;
  font-size: 20px;
  margin-left: 1em;
}
main .content li .text {
  color: #505050;
  font-size: 14px;
  line-height: 150%;
  width: 94%;
  margin-left: 5%;
  text-indent: 2em;
}
main .content li .img {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
main .content .part-1 .img {
  justify-content: space-around;
  padding-left: 30px;
  box-sizing: border-box;
}
main .content .part-1 .img img {
  margin-top: 10px;
  width: 240px;
  height: 180px;
}
main .content .part-2 .img {
  width: 86%;
  margin-left: 5%;
  justify-content: space-between;
}
main .content .part-2 .img img {
  width: 30%;
  height: 220px;
  margin: 15px 0;
}
